* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}

.navbar {
  height: 60px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 1;
 
}

.navbarBackground {
  height: 60px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 1;
  background: linear-gradient(to bottom, black, #014573);
}

.logo {
  margin: 80px;
  color: white;
}

.linkChosen {
  color: blue;
  text-decoration-line: none;
}

.linkNotChosen {
  color: white;
  text-decoration-line: none;
}

.options {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  margin-right: 200px;
  color: white;
}

.aboutUsMotionDiv {
  margin: auto;
  width: 80px;
  height: 83px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.aboutUsImage {
  height: 1000px;
  background-image: url('assets/aboutUs.jpg');
  background-size: 1900px;
  background-repeat: no-repeat;
  background-position: bottom left ;
  position: relative;
  max-width: 100%;
}

.aboutUsContainer {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50vw;
  
}

.aboutUsTitle {
  font-size: 25px;
  width: fit-content;
  color: rgb(31, 115, 188);
}

.aboutUsBody {
  font-size: 55px;
  width: fit-content;
  color: rgb(255, 255, 255);
}

.aboutUsParagraph {
  font-size: 30px;
  width: fit-content;
}

@media (max-width:700px) {
  .aboutUsImage {
    height: 500px;
    background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url('assets/aboutUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }

  .aboutUsContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }

  .aboutUsTitle {
    font-weight: bold;
    font-size: 1.5rem;
    width: fit-content;
    color: rgb(31, 115, 188);
  }

  .aboutUsBody {
   
    font-size: 1rem;
    width: fit-content;
    color: rgb(255, 255, 255);
  }

  .aboutUsParagraph {
    font-size: 1rem;
    width: fit-content;
  }
}

/* POPUP STYLE */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 1000px;
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-container {
  box-shadow: 3px 3px 5px 3px gray;
  display: flex;
}

.popup-img{
  height: 300px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.popup-summary{
  top: 100px;
}
.popup-head{
  width: 400px;
  object-fit: cover;
}

.popup-img .right {
  flex: 5%;
  height: 100%;
  width: 65.5%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.popup-img .left {
  flex: 5%;
  height: 100%;
  width: 65.5%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.popup-img .center {
  flex: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}